<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="DomainContainer" connectionString="metadata=res://*/Domain.csdl|res://*/Domain.ssdl|res://*/Domain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.9\dsv;initial catalog=SIGSM;User ID=SoftparkSIGSM;Password=SIGSM@2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>