@model Softpark.WS.ViewModels.SIGSM.CadastroMicroAreaCredenciadoViewModel

@{
    var options = new AjaxOptions
    {
        AllowCache = false,
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "page-wrapper",
        OnBegin = "beginRequest"
    };

    if (IsAjax)
    {
        Layout = null;
        <script>routes.navigate('@Url.Action()')</script>
    }
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Alterando Associação de Credenciado</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Form", Model)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Ajax.ActionLinkButton("Index", options, new { @class = "btn btn-md btn-primary btn-outline" }, "Voltar")
        </div>
    </div>
</div>
