@using DataTables.AspNet.WebApi2
@model List<ColumnDef>
@{
    var options = new AjaxOptions
    {
        AllowCache = false,
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "page-wrapper",
        OnBegin = "beginRequest"
    };

    if (IsAjax)
    {
        Layout = null;
        <script>routes.navigate('@Url.Action()')</script>
    }

    var idUsuario = ASPSessionVar.Read("idUsuario");
}

@Ajax.DataTable($"tbl_list_cred_{idUsuario}", new AjaxOptions
{
    HttpMethod = "GET",
    Url = Url.Action("List")
}, new DataTableAttributes
{
    ColumnDefs = Model,
    AutoWidth = false,
    DeferRender = false,
    JQueryUI = true,
    StateSave = true,
    PaginationType = PaginationTypes.FullNumbers,
    Paginate = true,
    Dom = "<\"toolbar\">lfrtip",
    Doms = new List<DataTableDom> { new DataTableDom { el = "div.toolbar", content = " " + Ajax.ActionLinkButton("Create", options, new { @class = "btn btn-md btn-success pull-right btn-create" },
"<i class=\"fa fa-plus\"></i> Associar Credenciado").ToHtmlString() } }
}, Url, IsAjax)
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Credenciados</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tbl_list_cred_@idUsuario"></table>
            </div>
        </div>
    </div>
</div>
