@using Softpark.WS.Controllers

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">SIGSM - ESUS</h1>
        <h4>Sistema de Gestão de Saúde Municipal</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="@Url.Content($"~/{@System.Parametros.logoInicialSistema}")" class="img-rounded img-responsive" alt="" style="margin: 0 auto; opacity: 0.1;">
    </div>
</div>
