
/* -- Header -- */
.navbar-brand>img{
    width: 215px;
}
.sidebar{
    width: 190px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; 
}

.nav>li>a {
  padding: 6px 10px;
}

#dvNomeSist{
    margin-top: 9px;
    margin-right: 15px;
    color: #fff;
}

#dvFaixaTop{
  margin-top: 88px;
  margin-right: 0;
  height: 25px;
  color: #fff;
  background-color: #343434;
}

#dv2FaixaTop {
    margin-left: 210px;
    margin-top: 3px;
    margin-right: 15px;
    height: 25px;
}
#spSaudacaoCid {
    display: none;
}

/* -- Header -- */

/* -- Content -- */
body {
    background-color: #fff;
}

.ui-datepicker{
    z-index: 1000 !important;
}

.panel {
    margin-bottom: 10px;
}

.panel-body {
  padding: 10px;
}

.form-group {
  margin-bottom: 8px;
}

label {
    margin-bottom: 0px;
}

.form-control {
    height: 26px;
    padding: 3px 12px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    height: 26px;
    padding: 2px 12px;
}

.btn-xs, .btn-group-xs>.btn{
    height: inherit;
    padding: 1px 5px;
}

.page-header {
    margin: 10px 0 20px;
}

blockquote {
  margin: 0 0 0px;
}

.quebra-pagina{
    page-break-before:always;
}

select{
    cursor: pointer;
}

textarea{
    resize: none;
}

label small{
    color: #777;
    font-size: 75%;
    font-weight: normal;
}

.tr-select tbody tr{
    cursor: pointer;
}

.tr-select tbody tr:hover td {
  background-color: #9EF29E !important;
}

#page-wrapper{
    margin-left: 190px;
}

.tab-content {
    margin-top: 20px;    
}

input[type=checkbox], input[type=radio] {
    cursor: pointer;
}

input[type=radio] {
    margin-top: 2px;
}

legend{
    font-weight: bold;
    font-size: medium !important;
}

.secondTableHead {
    border-top: 0;
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
}

.secondTableHead>td {
    border-top-color: #fff !important;
}

.tdBlank{
    background-color: #fff !important;
    border-top: 1px solid #fff !important;
    padding: 0 !important;
    border-left-color: #fff !important;
    border-right-color: #fff !important;
}

.check-all{
    font-size: 18px;
    cursor: pointer;
}

.check-all:hover{
    color: #B08C8C;
}

.tb-bg{
    background-color: #f9f9f9;
}

.tb-bg input[type=checkbox]{
    display: none;
}

.table>tbody>tr>td{
    padding: 4px;
}

.btn-circle.btn-xs{
    width: 40px;
    height: 40px;
    padding: 10px 13px;
    border-radius: 25px;
    font-size: 15px;
    line-height: 1.33;
}

.table-no-border>thead>tr>th, .table-no-border>tbody>tr>th, .table-no-border>tfoot>tr>th, .table-no-border>thead>tr>td, .table-no-border>tbody>tr>td, .table-no-border>tfoot>tr>td{
      border-top: 0px;
}

.input-table-calen{
  padding: 0;
  max-width: 40px;
  max-height: 30px;
  display: inherit;
}

fieldset{
    font-size: small;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 5px;
    border-radius: 10px;
}

fieldset legend{
    padding-left: 5px;
    padding-right: 5px;
    font-size: inherit !important;
    width: auto;
    border: none;
    margin-bottom: -5px;
}

.has-error fieldset {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

label{
    font-size: 13px;
}

div.dataTables_filter input[type=search]{
    width: 300px;
}

.list-group-item {
    padding: 6px 15px;
}

.div-carregando {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display:none;
    z-index:1051
}

.div-carregando-fundo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: #ccc;
    opacity: 0.7;
}

.div-carregando-conteudo {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 48%;
    text-align: center;
    color:#000;
}

.btn-datatable {
    margin-left: 10px;
    height: 26px;
    padding: 2px 12px;
}
.error{
    color:#FF0000;
}
.asterisco{
    color: red;
    font-weight: 900;
    font-size: large;
}
.removeasterisco{
    margin-top: 6px;
}
.msgErro{
    color: red;
}
.msgErro label{
    display: block;
}
.msgErroDuplicado{
    color: red;
}

#dadosProfissionais .table-responsive {
    overflow-y: auto;
    max-height: 263px;
}

#dadosParticipantes .table-responsive {
    overflow-y: auto;
    max-height: 470px;
}

/* -- Content -- */

/* -- @media -- */
@media print{
    #rowBusca{
        display: none;
    }

    #page-wrapper{
        width: 695px;
        height: 866px;
        margin: 0;
        padding: 0;
        border: none;
        font-size: 14px;
    }

     #page-wrapper.paisagem{
        width: 1100px !important;
        height: 700px !important;
    }

    .page-header{
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>thead>tr>td{
        padding: 4px;
    }

    .table>tbody>tr>td{
        padding: 2px;
    }
}

@media (min-width: 768px) {
    .sidebar {
      margin-top: 2px !important;
    }
}

@media (max-width: 1100px) {
    #spSaudacaoCid {
        display: none;
    }
}

@media (max-width: 1000px) {
    
    #dv2FaixaTop {
          margin-left: 155px !important;
    }
}

@media (max-width: 950px) {
    #spSaudacao, #spSaudacaoHr {
        display: none !important;
    }
}

@media (max-width: 795px) {
    #spSetorTop{
        display:none !important;
    }
}

@media (max-width: 768px){
    #page-wrapper{
        margin-left: 0px !important;
    }
    #spNomeSist{
        display: none !important;
    }
    #dvNomeSist{
        margin-top: -2px !important;
        margin-right: 15px !important;
    }
    #dvFaixaTop {
        margin-top: 38px !important;
    }
    #dv2FaixaTop {
          margin-left: 15px !important;
    }
    .navbar-brand>img{
        margin-left: 0px !important;
    }
    .navbar-nav {
        float: right !important;
        margin: 0;
        margin-top: 40px;
        background-color: #F8F8F8 !important;
    }

    .navbar-nav.collapse {
        overflow-y: visible !important;
    }

    .navbar-nav.collapse.in {
        overflow-y: auto !important;
    }

    .navbar-nav>li>a.no-hover{
        width: 150px !important;
    }
    .navbar-nav>li>a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        color: #1E6206 !important;
    }
    .navbar-nav > li > a:hover {
        color: #60CA42 !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #60CA42 !important;
    }
    .navbar-default .navbar-toggle:hover{
        background-color: #F8F8F8 !important;
     }
    .navbar-toggle>span.glyphicon{
        top: -1px !important;
        color: #60CA42 !important;
    }
    .navbar-toggle>span.glyphicon:hover {
        color: #1E6206 !important;
    }
    .sidebar .sidebar-nav.navbar-collapse {
        margin-top: 2px !important;
    }
    h1, .h1 {
        font-size: 25px;
    }
    div.dataTables_filter input[type=search]{
        width: inherit;
    }
}
/* -- @media-- */

label.required:after,
label.obg:after {
    content: " *";
    color: red;
}