<ion-view class="home-controller" ng-controller="DashboardController">
    <ion-content id="dashboard-page" style="background-color: #eee;">
        <div class="row">
            <div class="card">
                <div class="item">
                    <div class="list">
                        <a class="item" href="#home-visit/index" align="center">
                            <i class="icon ion-ios-list"></i>
                            <h2>visitas domiciliares</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="item">
                    <div class="list">
                        <a class="item" href="#pessoas/index" align="center">
                            <i class="icon ion-android-contact"></i>
                            <h2>visualizar cidadãos</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="item">
                    <div class="list">
                        <a class="item" href="#domicilios/index" align="center">
                            <i class="icon ion-home"></i>
                            <h2>visualizar domicílios</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="item">
                    <div class="list">
                        <a class="item" href="#/synchronization" align="center">
                            <!--<a class="item" href align="center">-->
                            <i class="icon ion-loop"></i>
                            <h2>Sincronizar fichas</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>