@model Softpark.Models.SIGSM_MicroAreas
@{
    var options = new AjaxOptions
    {
        AllowCache = false,
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "page-wrapper"
    };

    if (IsAjax)
    {
        Layout = null;
    }
}
<div id="page-wrapper">
    <h2>Editando</h2>

    @Html.Partial("Form", Model)

    <div>
        @Ajax.ActionLink("Voltar", "Index", options)
    </div>
</div>