@using DataTables.AspNet.WebApi2
@{
    var options = new AjaxOptions
    {
        AllowCache = false,
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "page-wrapper",
        OnBegin = "beginRequest"
    };

    if (IsAjax)
    {
        Layout = null;
        <script>routes.navigate('@Url.Action()')</script>
    }

    var idUsuario = ASPSessionVar.Read("idUsuario");
}

@Ajax.DataTable($"tbl_list_mca_{idUsuario}", new AjaxOptions
{
    HttpMethod = "POST",
    Url = Url.Action("List"),
    AllowCache = true
}, new DataTableAttributes
{
    ColumnDefs = new List<ColumnDef> {
new ColumnDef { DataProp = "Codigo", Title = "Código" },
new ColumnDef { DataProp = "Descricao", Title = "Descrição" },
new ColumnDef { DataProp = "btn", Title = "", Sortable = false }
},
    DeferRender = false,
    JQueryUI = true,
    StateSave = true,
    PaginationType = PaginationTypes.FullNumbers,
    Paginate = true,
    Dom = "<\"toolbar\">frtip",
    Doms = new List<DataTableDom> { new DataTableDom { el = "div.toolbar", content = Ajax.ActionLinkButton("Create", options, new { @class = "btn btn-md btn-success pull-right btn-create" },
"<i class=\"fa fa-plus\"></i> Adicionar Micro Área").ToHtmlString() } }
}, Url, IsAjax)
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Micro Área</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tbl_list_mca_@idUsuario"></table>
            </div>
        </div>
    </div>
</div>