<div class="panel panel-success">
    <div class="panel-heading">Dados do Profissional</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="selCnesUni">Cód. CNES Unidade<span class="asterisco">*</span></label>
                    <span name="selCnesUni" id="selCnesUni" required="required" class="form-control obg">
                        Viewbag.setor
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label for="txtIneEquipe">Cód. equipe (INE)</label>
                <select name="selIneEquipe" id="selIneEquipe" class="form-control obg">
                    <option value="" selected="selected">Selecione a unidade</option>
                </select>
                <div class="msgErro"></div>
            </div>
            <div class="col-md-2">
                <label for="txtData">Data<span class="asterisco"> *</span></label>
                <input type="text" class="form-control data datepickerMaxDateAtual obg" required="required" name="txtData" id="txtData" placeholder="dd/mm/aaaa">
                <div class='msgErro'></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="txtNomeSusProf">Profissional do SUS<span class="asterisco"> *</span></label>
                    <div class="form-group input-group">
                        <input type="text" class="form-control obg" required="required" name="txtNomeSusProf" id="txtNomeSusProf" placeholder="Selecione" disabled="disabled">
                        <input type="hidden" name="txtSusProf" id="txtSusProf">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" title="Buscar" id="btnBuscarProf">
                                <i class="fa fa-search fa-fw"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div style="margin-top: 30px">
                    <span id="msgErroTableProf" class="msgErro"></span>
                </div>
            </div>
        </div>
    </div>
</div>
