<ion-view cache-view="false">
  <div class="bar bar-header bar-default-application">
    <div class="buttons">
      <button class="button button-clear" ng-click="goToUrl('app.dashboard/index')"><i class="icon ion-chevron-left"></i></button>
    </div>
    <h1 class="title">Domicílios</h1>
    <div class="buttons">
      <a class="button button-clear" ng-click="directHome()"><i class="icon ion-plus-circled"></i></a>
    </div>
  </div>
  <ion-content>
    <br>
    <br>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="search" placeholder="Buscar logradouro">
        </label>
        <button class="button button-small button-royal" ng-click="searchHome(search)">
          Pesquisar
        </button>
      </div>
      <a class="item item-avatar item-icon-left item-icon-right" ng-repeat="homeRegistration in listAllHomeRegistration | filter: {nomeLogradouro : searchStreet}" href="#/domicilios/tabs/view/{{homeRegistration.id}}">
        <img src="assets/img/domicilio.png"/>
        <h2 ng-show="homeRegistration.nomeLogradouro != null" style="font-weight: 800;">{{homeRegistration.nomeLogradouro}}, {{homeRegistration.numero}} - {{homeRegistration.bairro}}</h2>
        <p style="color: black;">Responsável: {{homeRegistration.familiaRow}}</p>
        <p>Realizada em: {{homeRegistration.dataAtendimento | date: 'dd/MM/yyyy'}}</p>
        <p>Status da visita {{homeRegistration.status}}</p>
        <i class="icon ion-ios-arrow-right color-default"></i>
			</a>
    </div>
  </ion-content>
</ion-view>
